@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-right {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  --animate-scroll-left: scroll-left 30s linear infinite;
  --animate-scroll-right: scroll-right 30s linear infinite;
  --animate-spin-slow: spin-slow 20s linear infinite;
}

/* --- Theme Inline (Bawaan Project Kamu) --- */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-playwrite-us-modern: var(--font-playwrite-us-modern);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .p-safe {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
  .py-safe {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pl-safe {
    padding-left: env(safe-area-inset-right);
  }

  .m-safe {
    margin: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
  .mx-safe {
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
  }
  .my-safe {
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
  }
  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }
  .mr-safe {
    margin-right: env(safe-area-inset-right);
  }
  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }
  .ml-safe {
    margin-left: env(safe-area-inset-right);
  }

  .top-safe {
    top: 0;
    top: env(safe-area-inset-top);
  }
  .right-safe {
    right: 0;
    right: env(safe-area-inset-right);
  }
  .bottom-safe {
    bottom: 0;
    bottom: env(safe-area-inset-bottom);
  }
  .left-safe {
    left: 0;
    left: env(safe-area-inset-right);
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-playwrite-us-modern);
}

.marquee-container:hover .animate-scroll-left,
.marquee-container:hover .animate-scroll-right {
  animation-play-state: paused;
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}
