@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-right {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  --animate-scroll-left: scroll-left 30s linear infinite;
  --animate-scroll-right: scroll-right 30s linear infinite;
  --animate-spin-slow: spin-slow 20s linear infinite;
}

/* --- Theme Inline (Bawaan Project Kamu) --- */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-playwrite-us-modern: var(--font-playwrite-us-modern);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-playwrite-us-modern);
}

.marquee-container:hover .animate-scroll-left,
.marquee-container:hover .animate-scroll-right {
  animation-play-state: paused;
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}